<a href="https://colab.research.google.com/github/Cepera90/test/blob/main/test_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Open inc_points_c
TC = pd.read_csv("/content/drive/MyDrive/test/inc_points_c.csv")
TC = TC.drop(['Unnamed: 0'], axis=1)

In [ ]:
# See median values for drivers and passangers
TC.groupby('TrackOrigin').median()

,Unnamed: 0,IncomingTrackId,Speed,Latitude,Longitude,Height,Acceleration,Deceleration,TickTimestamp,AccelerationXOriginal,AccelerationYOriginal,AccelerationZOriginal
TrackOrigin,,,,,,,,,,,,
OriginalDriver,1383425.0,20681420.0,8.780098,53.214530,45.930267,107091.0,0.0,0.0,1.571309e+09,0.000000,-0.104874,-0.294083
Passanger,3310451.0,20800891.0,31.359722,51.774608,55.232452,110196.0,0.0,0.0,1.571386e+09,-0.002433,0.000000,-0.189388
Taxi,3233483.0,20713602.0,18.775861,55.717843,37.575511,155900.0,0.0,0.0,1.571312e+09,0.000000,0.000000,0.052414

We see what median passanger user speed more when drivers speed (I think because professional drivers have strict speed limit)

In [ ]:
# See mean values for drivers and passangers
TC.groupby('TrackOrigin').mean()

,Unnamed: 0,IncomingTrackId,Speed,Latitude,Longitude,Height,Acceleration,Deceleration,TickTimestamp,AccelerationXOriginal,AccelerationYOriginal,AccelerationZOriginal,MidOverSpeed,HiOverSpeed
TrackOrigin,,,,,,,,,,,,,,
OriginalDriver,1.383425e+06,2.070059e+07,24.503922,34.726617,67.394502,127853.709936,0.045015,0.078361,1.571310e+09,-0.01030,-0.146879,-0.248071,4.768319,0.460334
Passanger,3.303812e+06,2.069142e+07,37.948386,21.225763,84.263927,115249.570732,0.069823,0.182956,1.571297e+09,0.01037,0.028603,-0.154312,10.552048,1.185344
Taxi,3.231599e+06,2.065376e+07,33.141940,51.783496,34.897831,155451.098302,0.264315,0.392949,1.571291e+09,0.03827,-0.044998,0.102176,8.952944,1.044906

We see what mean passanger user speed more when drivers speed. Taxi mean acceleration and deceleration more then OriginalDriver and Taxi.

In [3]:
# Open rich_tracks_2
RT = pd.read_csv("/content/drive/MyDrive/test/rich_tracks_2.csv")

In [ ]:
# See standart deviation values for drivers and passangers
RT.groupby('TrackOrigin').std()

,Id,IncomingTrackId,Distance,Duration,AccelerationCount,DecelerationCount,Rating,PhoneUsage,OriginChanged,DistanceGPS,...,CorneringDuration,AccelerationICount,DecelerationICount,AccelerationIDuration,DecelerationIDuration,RatingCornering,VehicleId,BeaconId,DeviationRatio,DeviationMeters
TrackOrigin,,,,,,,,,,,,,,,,,,,,,
OriginalDriver,4801.492524,7.024230e+04,400.357699,28.220975,2.439093,3.154929,1.139604,2.468450,0.0,20.389829,...,1.515978,115.376788,220.519050,184.963118,297.982948,0.701323,NaN,NaN,0.000675,21.208906
Passanger,259711.240231,1.585408e+06,375.529387,38.344564,2.741259,3.029253,1.110365,7.581252,0.0,38.122624,...,9.396443,205.534600,339.757433,561.066446,435.932303,1.097489,NaN,NaN,0.000609,27.464519
Taxi,270605.859722,1.623501e+06,224.925853,29.744323,1.398211,2.161288,1.166092,2.183238,0.0,33.480420,...,1.296748,261.604315,195.238016,540.821350,295.079220,NaN,NaN,NaN,0.000000,26.437740

Warning: Total number of columns (51) exceeds max_columns (20) limiting to first (20) columns.

We see what standart deviation of Duration and PhoneUsage in passanger track data more whan in drivers track data, so we can add duration to inc_point dataframe.

In [4]:
# Create DF with rich_tracks_2 data
ID_t = pd.DataFrame({'IncomingTrackId':RT['IncomingTrackId'],'TrackOrigin':RT['TrackOrigin'],'PhoneUsage':RT['PhoneUsage'],'Duration':RT['Duration']})

In [8]:
# Create DB with track summary
TrackDB = TC.groupby('IncomingTrackId')['Speed','Acceleration','Deceleration','AccelerationXOriginal','AccelerationYOriginal','AccelerationZOriginal'].describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [9]:
# Merge ID_t with TrackDB
TrackDB = pd.merge(TrackDB, ID_t, on='IncomingTrackId')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left,1 on the right)

In [10]:
TrackDB

,IncomingTrackId,"(Speed, count)","(Speed, mean)","(Speed, std)","(Speed, min)","(Speed, 25%)","(Speed, 50%)","(Speed, 75%)","(Speed, max)","(Acceleration, count)",...,"(AccelerationZOriginal, mean)","(AccelerationZOriginal, std)","(AccelerationZOriginal, min)","(AccelerationZOriginal, 25%)","(AccelerationZOriginal, 50%)","(AccelerationZOriginal, 75%)","(AccelerationZOriginal, max)",TrackOrigin,PhoneUsage,Duration
0,19888387,404.0,9.988912,17.173265,0.0,1.767537e-01,0.580703,11.222992,57.046222,404.0,...,-0.217251,0.618218,-1.132523,-0.852989,-0.198387,0.315338,1.080780,Passanger,0.000000,1.683333
1,19889292,1502.0,37.824928,33.879293,0.0,7.518020e-01,36.978529,68.882420,104.835564,1502.0,...,-0.262711,0.311313,-2.006805,-0.229412,-0.151039,-0.119457,0.523392,Passanger,0.000000,18.183333
2,19890131,1766.0,17.821795,19.685117,0.0,0.000000e+00,11.213999,30.627001,76.032001,1766.0,...,0.101735,0.506204,-1.124496,-0.336147,-0.000282,0.603374,1.103058,Passanger,1.166667,24.050000
3,19891937,2456.0,23.292324,24.969436,0.0,3.137974e-01,11.291015,43.008295,93.615628,2456.0,...,0.843765,0.336049,-3.033236,0.886382,0.935622,0.970889,2.257599,Passanger,0.333333,81.783333
4,19892757,1002.0,10.610393,17.529287,0.0,2.422920e-01,2.182516,7.507858,61.451141,1002.0,...,0.548682,0.552176,-2.066656,0.021239,0.958108,0.970702,1.786602,Passanger,0.316667,24.383333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2582,21497153,2941.0,73.502072,44.532907,0.0,3.891600e+01,101.267994,112.320000,119.951996,2941.0,...,-0.826014,0.383807,-1.746429,-1.019714,-0.948837,-0.850861,1.290100,OriginalDriver,0.000000,44.950000
2583,21499241,578.0,7.670491,12.283241,0.0,0.000000e+00,1.800000,6.660000,48.023999,578.0,...,0.452728,0.408855,-0.525238,0.122715,0.289803,0.972473,1.342361,Passanger,0.000000,2.250000
2584,21503950,470.0,17.323939,19.249464,0.0,1.238751e-17,4.421113,37.332002,49.064402,470.0,...,0.297953,0.415508,-0.961371,0.017634,0.170113,0.380009,1.353339,Passanger,0.000000,8.066667
2585,21512169,642.0,24.370539,22.877973,0.0,1.809056e+00,16.207653,48.652443,63.071336,642.0,...,-0.669810,0.498427,-1.556109,-0.990872,-0.927418,-0.585249,1.401865,Passanger,0.550000,16.166667
2586,21514828,271.0,10.515108,12.937097,0.0,5.530547e-05,1.047318,18.786633,45.280134,271.0,...,-0.813008,0.219739,-1.511203,-0.899107,-0.818080,-0.777566,1.093377,Passanger,0.000000,-0.333333

In [11]:
#Delete IncomingTrackId column
TrackDB = TrackDB.drop(['IncomingTrackId'], axis=1)

In [12]:
# 'OriginalDriver' and 'Taxi' - 'Driver'
TrackDB = TrackDB.replace({'TrackOrigin':{'OriginalDriver':'Driver', 'Taxi':'Driver'}})

In [13]:
TrackDB.loc[:,'TrackOrigin'].unique()

array(['Passanger', 'Driver'], dtype=object)

In [14]:
#Prepare data
X = TrackDB.loc[:,TrackDB.columns != 'TrackOrigin']
y = TrackDB.loc[:,'TrackOrigin']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [15]:
# DecisionTreeClassifier model
tree = DecisionTreeClassifier(criterion='entropy', max_depth=26, min_samples_leaf=4, splitter="random", random_state=1)

In [16]:
# DecisionTreeClassifier model train
tree.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

DecisionTreeClassifier(criterion='entropy', max_depth=26, min_samples_leaf=4,
                       random_state=1, splitter='random')

In [17]:
# DecisionTreeClassifier model prediction
DTC_pred = tree.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

In [18]:
# Accuracy score DecisionTreeClassifier
print(accuracy_score(DTC_pred, y_test))

0.7895752895752896

Accuracy 0.7895752895752896

In [19]:
# get importance
fi = pd.DataFrame({'feature': list(X.columns),
                   'importance': tree.feature_importances_}).\
                    sort_values('importance', ascending = False)

fi

                           feature  importance
1                    (Speed, mean)    0.102759
6                     (Speed, 75%)    0.060776
5                     (Speed, 50%)    0.050700
37    (AccelerationYOriginal, 50%)    0.045585
44    (AccelerationZOriginal, 25%)    0.036927
42    (AccelerationZOriginal, std)    0.032597
49                        Duration    0.031531
27    (AccelerationXOriginal, min)    0.030601
46    (AccelerationZOriginal, 75%)    0.029387
41   (AccelerationZOriginal, mean)    0.029286
2                     (Speed, std)    0.028925
29    (AccelerationXOriginal, 50%)    0.028307
47    (AccelerationZOriginal, max)    0.027136
43    (AccelerationZOriginal, min)    0.026219
38    (AccelerationYOriginal, 75%)    0.024298
19             (Deceleration, min)    0.022783
36    (AccelerationYOriginal, 25%)    0.021940
26    (AccelerationXOriginal, std)    0.021023
39    (AccelerationYOriginal, max)    0.019633
30    (AccelerationXOriginal, 75%)    0.019486
34    (AccelerationYOriginal, std)    0.019102
0                   (Speed, count)    0.016315
18             (Deceleration, std)    0.016216
24  (AccelerationXOriginal, count)    0.015869
25   (AccelerationXOriginal, mean)    0.015727
10             (Acceleration, std)    0.015672
23             (Deceleration, max)    0.015438
40  (AccelerationZOriginal, count)    0.015062
7                     (Speed, max)    0.014955
35    (AccelerationYOriginal, min)    0.014950
15             (Acceleration, max)    0.014896
17            (Deceleration, mean)    0.013541
4                     (Speed, 25%)    0.013224
32  (AccelerationYOriginal, count)    0.012357
28    (AccelerationXOriginal, 25%)    0.011536
48                      PhoneUsage    0.010391
20             (Deceleration, 25%)    0.009911
16           (Deceleration, count)    0.009064
33   (AccelerationYOriginal, mean)    0.009052
45    (AccelerationZOriginal, 50%)    0.008511
11             (Acceleration, min)    0.007933
31    (AccelerationXOriginal, max)    0.007824
9             (Acceleration, mean)    0.006584
21             (Deceleration, 50%)    0.006331
14             (Acceleration, 75%)    0.005787
22             (Deceleration, 75%)    0.003857
8            (Acceleration, count)    0.000000
12             (Acceleration, 25%)    0.000000
3                     (Speed, min)    0.000000
13             (Acceleration, 50%)    0.000000

In [20]:
# BaggingClassifier with tree model train
model = BaggingClassifier(DecisionTreeClassifier(splitter='random'), n_estimators=56, random_state=1)
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

BaggingClassifier(base_estimator=DecisionTreeClassifier(splitter='random'),
                  n_estimators=56, random_state=1)

In [21]:
# BaggingClassifier with tree model prediction
BC_pred = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

In [22]:
# Accuracy score BaggingClassifier with tree
print(accuracy_score(BC_pred, y_test))

0.833976833976834

Accuracy 0.833976833976834 (n_estimators=56)

In [23]:
# Search parametrs RandomForestClassifier with RandomizedSearchCV
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1000, num = 10)]
max_features = ['log2', 'sqrt']
max_depth = [int(x) for x in np.linspace(start = 1, stop = 15, num = 15)]
min_samples_split = [int(x) for x in np.linspace(start = 2, stop = 50, num = 10)]
min_samples_leaf = [int(x) for x in np.linspace(start = 2, stop = 50, num = 10)]
bootstrap = [True, False]
param_dist = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
rs = RandomizedSearchCV(RandomForestClassifier(), 
                        param_dist, 
                        n_iter = 100, 
                        cv = 3, 
                        verbose = 1, 
                        n_jobs=-1, 
                        random_state=0)
rs.fit(X_train, y_train)
rs.best_params_

Fitting 3 folds for each of 100 candidates, totalling 300 fits

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

{'bootstrap': False,
 'max_depth': 13,
 'max_features': 'sqrt',
 'min_samples_leaf': 2,
 'min_samples_split': 12,
 'n_estimators': 700}

In [24]:
# RandomForestClassifier model prediction
RFCs_pred = rs.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

In [25]:
# Accuracy score RandomForestClassifier
print(accuracy_score(RFCs_pred, y_test))

0.832046332046332

Accuracy 0.832046332046332

In [26]:
# Search parametrs RandomForestClassifier with GridSearchCV
n_estimators = [500,700,900]
max_features = ['sqrt']
max_depth = [11,13,15]
min_samples_split = [10,12,14]
min_samples_leaf = [2,3,4,5,6,7]
bootstrap = [False]
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
gs = GridSearchCV(RandomForestClassifier(), param_grid, cv = 3, verbose = 1, n_jobs=-1)
gs.fit(X_train, y_train)
rfc_3 = gs.best_estimator_
gs.best_params_

Fitting 3 folds for each of 162 candidates, totalling 486 fits

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

{'bootstrap': False,
 'max_depth': 15,
 'max_features': 'sqrt',
 'min_samples_leaf': 4,
 'min_samples_split': 12,
 'n_estimators': 900}

In [27]:
# RandomForestClassifier model prediction
RFCg_pred = gs.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

In [28]:
# Accuracy score RandomForestClassifier
print(accuracy_score(RFCg_pred, y_test))

0.8243243243243243

Accuracy 0.8243243243243243

In [29]:
# ExtraTreesClassifier model train
Eforest = ExtraTreesClassifier(n_estimators=700, n_jobs=-1, random_state=1)
Eforest.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

ExtraTreesClassifier(n_estimators=700, n_jobs=-1, random_state=1)

In [30]:
# ExtraTreesClassifier model prediction
EFC_pred = Eforest.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

In [31]:
# Accuracy score ExtraTreesClassifier
print(accuracy_score(EFC_pred, y_test))

0.859073359073359

Accuracy 0.859073359073359

In [35]:
# AdaBoostClassifier model train
AB = AdaBoostClassifier(n_estimators=700, random_state=1)
AB.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

AdaBoostClassifier(n_estimators=700, random_state=1)

In [36]:
# AdaBoostClassifier model prediction
AB_pred = AB.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  FutureWarning,

In [37]:
# Accuracy score AdaBoostClassifier
print(accuracy_score(AB_pred, y_test))

0.7895752895752896

Accuracy 0.7895752895752896